#calendar-container {
    background: rgba(25, 186, 139, 0.07);
    color     : #fff;

    .fc-list-heading {
        //background: rgba(25, 186, 139, 0.1);

    }

    .fc-list-table {

        .fc-widget-header {
            background: rgba(0, 0, 0, 0.5);
            ;

        }

        .fc-allow-mouse-resize {
//            background: rgba(25, 186, 139, 0.1);

        }
        //鼠标hover颜色
        .fc-list-item:hover td {
            background: rgba(25, 186, 139, 0.5);

        }
    }



    .fc-header-toolbar {
        padding-top  : .025rem;
        padding-left : .025rem;
        padding-right: .025rem;
    }
    //今日的背景色
    .fc-today {
        background : rgba(0, 0, 0, 0.5) !important;
        border     : none !important;
        border-top : 1px solid #ddd !important;
        font-weight: bold;
    }
}



#calendar {
    /*    max-width: 900px;*/
    margin         : 0 auto;
}

fieldset {
    padding   : 0;
    border    : 0;
    margin-top: 2px;
}

#title {
    font-size: .25rem;

    .btn-lg {
        font-size: .375rem;
        padding  : .125rem .25rem .125rem .25rem;
    }

    span {
        //padding    : 0;
        //font-size  : .25rem;
        //line-height: .25rem;  
        white-space  : normal;
        word-break   : break-all;
        word-wrap    : break-word
    }

    .title-line {
        text-align: center;
    }

    .office {
        text-align : center;
        line-height: .25rem;
    }

    h5 {
        margin-block-end: 0;

    }

    h6 {
        font-size    : .25rem;
        margin-top   : .25rem;
        margin-bottom: .25rem;
        text-align   : center;
    }
}

#users-contain {
    width    : 100%;
    margin   : 2px 0;
    font-size: .25rem;

    table {
        margin         : 1px 0;
        border-collapse: collapse;
        width          : 100%;
        border         : 1px solid #eee;

        th {
            border    : 1px solid #eee;
            padding   : .0125rem .0125rem;
            text-align: left;
            font-size : .5rem;
        }

        td {
            text-align: left;
            padding   : .6em 2px;
            min-width : 1.125rem;

        }
    }
}

#dialog-form {
    width: 5rem;
}

.ui-dialog {
    padding: 1px;
    width  : 10rem;
}

.validateTips {
    border : 1px solid transparent;
    padding: 1px;
}


.fc-unthemed td.fc-day-top.fc-sat span.fc-day-number {
    color: red
}

.fc-unthemed td.fc-day-top.fc-sun span.fc-day-number {
    color: red
}