* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
@font-face {
  font-family: electronicFont;
  src: url(/static/packages/chart/font/DS-DIGIT.TTF);
  color: black;
}
body {
  background-color:#551A8B;
  line-height: 1.15;
  margin: 20px;
}
